@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

.App {
  text-align: center;
}

.Main {
  display: flex;
  flex-direction: column;
}

.Main-title {
  font-family: 'Fredericka the Great', cursive;
}

.NavBar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  clear: unset;
  font-family: 'Roboto Mono', monospace;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 1px black solid;
  text-transform: uppercase;
}

.Section {
  margin-left: 2%;
  margin-right: 2%;
  font-family: 'Permanent Marker', cursive;
}

.Article-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.Article {
  font-family: 'Caveat', cursive;
  margin: 1% 5%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.Article-image {
  width: 95%;
  height: auto;
}

.Article-title{
  font-family: 'Permanent Marker', cursive;
}